input {
  outline: none;
}

button {
  outline: none;
}

body {
  font-size: 18px;
  background-image: url('../img/bg.png');
  background-color: #ECEBF0;
  font-family: sans-serif;
}

body a {
  text-decoration: none;
  color: #0b0b0b;
}

body img#thumbnail {
  width: 50px;
  display: inline-block;
}

body div#item-info {
  margin-right: 20px;
  display: inline-block;
  width: 0px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -o-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

body ul#search-results {
  padding: 0;
  list-style: none;
}

body ul#search-results li#search-result {
  margin-top: 15px;
  display: -webkit-flex;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

body ul#search-results li#search-result div#authors {
  font-size: smaller;
  font-style: italic;
  color: #636363;
}

body div#nothing-found {
  margin-top: 20px;
}

body div#app {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

body div#app div#search-box {
  margin-right: auto;
  max-width: 400px;
  border-radius: 4px;
  padding: 0;
  height: auto;
  margin-left: auto;
  background-color: white;
  display: -webkit-flex;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 0px 0px #D7CBC1;
  -moz-box-shadow: 0px 2px 0px 0px #D7CBC1;
  -o-box-shadow: 0px 2px 0px 0px #D7CBC1;
  -ms-box-shadow: 0px 2px 0px 0px #D7CBC1;
  box-shadow: 0px 2px 0px 0px #D7CBC1;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -o-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

body div#app div#search-box input#search-field {
  padding-right: 0;
  padding-left: 10px;
  background-color: none;
  margin-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
  margin-top: 0;
  padding-top: 0px;
  margin-right: 0;
  font-size: 22px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -o-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

body div#app div#search-box button#search {
  border-style: none;
  background-color: #DE794F;
  height: 40px;
  width: 64px;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 22px;
}