input {
  outline: none;
}

button {
  outline: none;
}

body {
  font-size: 16px;
  background-color: #2f2933;
  font-family: sans-serif;
}

body ul#search-results {
  padding: 0;
  list-style: none;
}

body ul#search-results li#search-result {
  margin-top: 15px;
  color: white;
  display: block;
}

body div#app {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

body div#app button#search {
  border-style: none;
  background-color: #cc7e6d;
  height: 40px;
  width: 80px;
  padding: 0;
  margin: 0;
  color: #2f2933;
  font-size: 22px;
}

body div#app div#search-box {
  border-radius: 4px;
  display: flex;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.45);
  -o-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.45);
  -ms-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.45);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.45);
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -o-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

body div#app div#search-box input#search-field {
  font-size: 22px;
  background: none;
  border: none;
  margin-left: 5px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -o-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}